/* 基本設定 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 最新の数字 */
#main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 150px);
  width: 100%;
  padding: 20px;
  margin: auto;
}

#latest-number {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 700px;
  margin-right: 10px;
}

#number-box {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 450px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #e3e3e3;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

/* 管理者コントロール */
#controls {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 10px;
  background-color: white;
  border-top: none;
  height: 50px;
}

#controls button {
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#controls button:hover {
  background-color: #0056b3;
}

/* 過去の数字 */
#history-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#history-grid {
  display: grid;
  grid-template-columns: repeat(10, 75px);
  grid-template-rows: repeat(7, 75px);
  gap: 10px;
}

.history-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 50px;
  font-weight: bold;
  background-color: #e3e3e3;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ポップアップ */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#manual-popup label {
  margin-bottom: 10px;
}

#manual-popup input[type="number"] {
  margin-bottom: 20px;
}

#manual-popup button {
  margin-left: 10px;
}

#manual-popup .popup-content {
  z-index: 10;
}

#alert-popup .popup-content, 
#edit-popup .popup-content,
#reset-confirm-popup .popup-content {
  z-index: 20;
}
