body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

#container {
  display: flex;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#current-number, #past-numbers {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

#controls {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ececec;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#history {
  margin-top: 20px;
  font-size: 18px;
}
